@model IEnumerable<Task>
@{
    ViewBag.Title = "ToDo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<a class="navbar-fixed-bottom btn-danger btn btn-block btn-group-lg" style="font-size: 25px;">Exit</a>*@
@Html.ActionLink("Exit", "Index",
         new { controller = "Home" },
         new { @class = "exitBTN navbar-fixed-bottom btn-danger btn btn-block btn-group-lg" })
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 Sp">
            <div class="thumbnail">
                <div class="displayed">
                    <a class="displayed" href="/Account/CreateTask">
                        <img src="~/Img/plus.png" alt="&plus;" class="img-circle turnAround" />
                    </a>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div name="@(item.Id)" class="col-md-3 Sp">
                <div class="thumbnail">
                    <div class="container-fluid">
                        <p>
                            <h1 class="text-center">
                                @(item.Name)
                            </h1>
                        </p>
                        <div class="row">
                            <div class="form-horizontal" style="display:inline;">
                                <textarea readonly class="form-control txtArea">@(item.Objective)</textarea>
                                <h3>Category: <span>@(item.Category.Name)</span></h3>
                                <h3>Priority: <span>@(item.Priority.Name)</span></h3>
                                <h3>Start: <span>(@item.StartDate)</span></h3>
                                <h3>End: <span>@(item.EndDate)</span></h3>
                            </div>
                            <button type="button"
                                    class="fontSize btn btn-block btn-primary"
                                    data-toggle="modal" data-target="#myModal">
                                Edit
                            </button>
                            <button type="button" class="fontSize btn btn-block btn-warning">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <input class="modal-title text-center fontSize" id="modalTitle"/>
            </div>
            <div class="modal-body">
                <textarea class="form-control txtArea fontSize" id="objectiveTask"></textarea>
                <select name="optionsPriority">
                    <option value="1">Low</option>
                    <option value="2">Normal</option>
                    <option value="3">Hight</option>
                </select>
                <select name="optionsCategory">
                    <option value="1">Study</option>
                    <option value="2">Work</option>
                    <option value="3">Home</option>
                    <option value="4">Hobby</option>
                    <option value="5">Holiday</option>
                    <option value="6">Weekend</option>
                    <option value="7">Free Time</option>
                </select>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>